/* Dark mode
#dark-mode-toggle:checked~.container {
    background-color: #333;
    color: white;
}

#dark-mode-toggle:checked~.container .work-item {
    background-color: #333;
    color: white;
}

#dark-mode-toggle:checked~.container .company-logo {
    color: white;
}

#dark-mode-toggle:checked~body {
    background-color: #333;
    color: white;
}
*/
body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode .container {
    background-color: #333;
    color: white;
}

body.dark-mode .work-item {
    background-color: #333;
    color: white;
}

body.dark-mode .company-logo {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
    color: black;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #008080 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.picture {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #008080;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.company-logo {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #008080;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.work-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.work-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-item header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

ul {
    margin-left: 15px;
    padding: 1px;
}

.main {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}